.canvasContainer {
  width:100%;
  margin:0 auto;
  position: relative;
}

.canvasContainer canvas {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
}

.btn {
  margin: .25em;
}

#playAgainButton {
  display: none;
}

#resetButton {
  visibility: hidden;
}

.popup {
  display: none;
}

.chipIndicator {
  visibility: hidden;
}
