.canvasContainer {
  width:100%;
  margin:0 auto;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}

.canvasContainer canvas {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
}

.btn {
  margin: .25em;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}

#playAgainButton {
  display: none;
}

#resetButton {
  visibility: hidden;
}

.popup {
  display: none;
}

.chipIndicator {
  visibility: hidden;
}

#loading {
  margin: 64px;
}
