.canvasContainer {
  width: 100%;
  margin: 0 auto;
  position: relative;
  font-family: "Open Sans", sans-serif;
}

.canvasContainer canvas {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
}

.btn {
  font-family: "Open Sans", sans-serif;
}

.big-screen-button {
  margin: 0.25em;
  font-size: 1em;
}

.small-screen-button {
  border-color: white;
  border-width: 1px;
}

#playAgainButton {
  display: none;
}

#resetButton {
  visibility: hidden;
}

.btn-time-grid {
  background-color: #768ce1;
  color: #fff;
}

.btn-time-grid:hover {
  background-color: #516dd8;
  color: rgb(251, 251, 251);
}

.btn-blue {
  background-color: #516dd8;
  color: #fff;
}

.btn-blue:hover {
  background-color: #4961c2;
  color: rgb(251, 251, 251);
}

.btn-outline-blue {
  color: #516dd8;
  border-color: #516dd8;
}

.btn-outline-blue:hover {
  background-color: #516dd8;
  color: #fff;
}

.btn-grid-info {
  margin-left: -10px;
  color: #444444;
}

.info-icon {
  vertical-align: bottom;
  font-size: larger !important;
}

.dropdown-content {
  display: none;
}

.popup {
  display: none;
}

.chipIndicator {
  visibility: hidden;
  pointer-events: none; /* Prevent dragging */
}

#logo {
  pointer-events: none; /* Prevent dragging */
}

#loading {
  margin: 64px;
}

#back {
  padding: 12px;
  width: fit-content;
}

#gamemodeSelector {
  margin: 10% auto;
}

.modal-title {
  margin: auto;
}

.host-menu {
  display: none;
  margin: auto;
  width: 80%;
}

body {
  /* Prevent text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body {
  height: 100%;
  background: white;
  background: linear-gradient(-45deg, rgba(244, 255, 182, 0.9), rgba(200, 240, 255, 1));
}

.container {
  max-width: 85vh;
  background: white;
  padding: 1em;
  box-shadow: 0 0 256px 200px white;
}

.button-container {
  padding: 1em;
}

.col-sm {
  padding-left: 5px;
  padding-right: 5px;
}

.copy-load {
  display: flex;
  margin-top: 10px;
}

.copy-block {
  margin-top: 10px;
  margin-right: 10px;
}

.modal-footer {
  font-size: 10pt;
  justify-content: center;
}

#game-status {
  user-select: text;
}
